.continuousPlay {
  display: flex;
  position: fixed;
  height: 44px;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  width: 100%;
  z-index: 12;
  padding-left: 7%;
  padding-right: 7%;
}

.volumec1:active {
  width: 17px;
}

.volumec2:active {
  width: 17px;
}

#timeline{
	width: 500px;
  height: 1.5px;
  padding: 2.0;
	background: #cecece;;
  margin-top: 16px;
  border-bottom: 5px solid #f2f2f2;
  border-top: 5px solid #f2f2f2;
	float: left;
}

.rewind {
  padding-left: 20px;
}

.fastforward {
  padding-left: 25px;
}

.shuffle {
  top:11px;
  padding-left: 60px;
}

.repeat {
  padding-left: 30px;
  height: 18px;
  margin-top: 13px;
}

.time1 {
  font-size: 10px;
  color: #f50;
  padding-left: 40px;
  margin-top: 15px;
}

.timeConta {
  margin-left: 30px;
}

.time2 {
  font-size: 10px;
  color: black;
  top: 3px;
  padding-left: 30px;
  margin-top: 14px;
}

.currentbu {
  padding-left: 25px;
  z-index: 10;
  margin-top: 13px;
}

#playhead{
	width: 0px;
	height: 1.5px;
	background: #f50;
}

.volumeCont {
  display: flex;
  flex-direction: column;
  top: 4px;
  padding-left: 30px;
  position: relative;
}
.rangecontainer {
  display: none;
}

.volcontrol {
  margin-top: 7.5px;
}

.volumeCont:hover .rangecontainer {
  display: block;
    position: absolute;
    background-color: #f2f2f2;
    margin-top: -117px;
    /* width: 10%; */
    width: 39px;
    padding-bottom: 5px;
    padding-top: 5px;
    align-items: center;
    border: 1px solid #999;
}


.soundbar {
  -webkit-appearance: none; 
  appearance: none;
  -webkit-appearance: slider-vertical;
  margin-left: -46px;
  height: 98px;
  color: #f50;
  background: #f50;
}

.imgbar {
  padding-left: 19px;
  top: 7px;
  margin-top: 6px;
  height: 30px;
  width: 30px;
}

.barinfo {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.baruse {
  font-size: 9px;
  color: black;
  margin-bottom: 0;
  text-decoration: none;
  cursor: pointer;
  margin-top: 9px;
}

.bartite {
  margin-top: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 9px;
  color: #cecece;
}

.bartite:hover {
  color: black;
}

.barHeart {
  padding-left: 60px;
  padding-left: 20px;

  top: 9px;
}

.showqueue {
  padding-left: 10px;
  top: 9px;
  position: relative;
}

/* .realqueue {
  display: none;
} */

.realqueue {
  position: absolute;
  width: 400px;
  background-color: white;
  border: 1px solid #999;
  height: auto;
  bottom: 70px;
  margin-left: -300px;
  padding-left: 10px;
  padding-right: 10px;
}

.queueflex {
  display: flex;
  margin-bottom: 10px;
}

.queueinf {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  width: 100%;
}

.queuetit {
  color: #333;
  font-size: 11px;
  margin-top: 7px;
}

.addsongstoqueue {
  font-size: 11px;
  color: #999;
}

.lilx {
  border: 1px solid #999;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 10px;
}

.queueuser {
  color: #999;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}

.upnext {
  font-size: 14px;
  font-weight: 100;
  border-bottom: 1px solid #999;
}
