.proPic {
  display: block;
  height: 200px;
  width: 200px;
  top: 60px;
  left: 10%;
  position: absolute;
  z-index: 5;
  border-radius: 100px;
}

.coverPic {
  display: block;
  width: 100%;
  height: 300px;
  opacity: .9;
  overflow: hidden;
}

.usernameProf {
  position: absolute;
  z-index: 5;
  display: block;
  top: 60px;
  left: 27%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  height: 35px;
  color: #fff;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  background-color: rgba(0,0,0,.8);
  -webkit-box-decoration-break: clone;
}

.profileOptions {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 15px;
  width: 100%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: 25px;
  border-bottom: 1px solid #f2f2f2;
  width: auto;
}



.profileExtra {
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.boldthis1 {
  font-weight: bold;
}
.boldthis1 {
  font-weight: bold;
  margin-right: 6px;;
}

.radioW {
  height: 5px;
  width: 5px;
}

.recentHead {
  font-weight: 100;
  color: #333;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 22px;
  margin-bottom: 0;
}

.profileBody{
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 10px;
  display: flex;
  background-color: white;
  height: auto;
  padding-bottom: 3%;
}

.extraButtons {
  color: #333;
  text-decoration: none;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  font-size: 12px;
  margin-right: 15px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.extraButtons {
  color: #333;
  text-decoration: none;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  font-size: 12px;
  margin-right: 15px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.extraBut2 {
  color: white;
  text-decoration: none;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #f50;
  border-radius: 3px;
  background-color: #f50;
  display: flex;
  font-size: 12px;
  margin-right: 15px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  cursor: pointer;
}
.bigFont {
  margin-top: -2px;
  font-size: 14px;
}





.musicsect2 {
  border-bottom: 1px solid #f2f2f2;
  width: 68%;
  height: 100%;
  padding-bottom: 20px;
}

.musicSectionR {
  border-right: 1px solid #f2f2f2;
  width: 100%;
  height: 100%;
}



.statsSection {
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
}

.extraButtons:hover {
  border: 1px solid lightgray;
}

.headz {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.statNum {
  margin: 0;
  margin-top: 5px;
  font-size: 17px;
}

.profileButtons {
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
  outline: none;
  height: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.profileButtonsAll {
  border: none;
  padding-bottom: 5px;
  outline: none;
  height: 100%;
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border-bottom:1px solid #f50;
  color: #f50;
  cursor: default;
}

.profileButtons:hover {
  border-bottom: 1px solid #333;
}

.profileSections {
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  color: #333;
  padding-bottom: 5px;
  height: 100%;
  width: 37vw;
}

.songImg1 {
  height: 120px;
  width: 140px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.songContainer {
  display: flex;
  justify-content: space-between;
  height: 107px;
  width: 100%;
  display: flex;
  margin-top: 40px;
  position: relative;
}

.playSong {
  cursor: pointer;
  background-color: #f50;
  height: 38px;
  width: 37px;
  color: white;
  border-radius: 100px;
  text-align: center;
  margin-top: 5px;
  margin-left: -15px;
}

.richDiv {
  display: flex;
  justify-content: space-between;
}

.rich2Div {
  display: flex;
  justify-content:space-between;
}

.songpIn {
  width: 10vw;
  height: 8vw;
  padding-left: 10px;
  list-style: none;
  margin-top: 5px;
}
.sArtist {
  color: #999;
  font-size:11px;
}

.moreshowno {
  display: none;
}

.moreshow {
  display: none;
}

.songG {
  color: #fff;
  background-color: #999;
  border-radius: 6px;
  font-size: 10px;
  height: auto;
  display: block;
  width: 3.5vw;
  text-align: center;
  position: absolute;
  top: 10%;
  padding: 1px;
  right: 7px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.songBO {
  display: flex;
  justify-content: space-between;
  width: 271px;
  height: 19px;
  bottom: 0;
  align-items: flex-end;
}

.songBu {
  width: auto;
  height: 100%;
  text-align: center;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 12;

  cursor: pointer;
}
.songBu1 {
  width: 25px;
  height: 100%;
  text-align: center;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  z-index: 12;

}

.songBu2 {
  width: 60px;
  height: 100%;
  text-align: center;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  z-index: 12;

}

.songBu3 {
  width: 53px;
  height: 100%;
  text-align: center;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  outline: none;
  cursor: pointer;
  z-index: 12;

}

.songBu4 {
  width: auto;
  height: 100%;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  text-align: center;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  outline: none;
  z-index: 12;

  cursor: pointer;

}

.songBu4:focus .moreshow {
  position: absolute;
  list-style-type: none;
  width: 153px;
  outline: none;
  margin-top: 2px;
  z-index: 8;
  /* padding-left: 9px; */
  background: white;
  left: -1px;
  border: 1px solid #e5e5e5;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.moreshowli {
  width: auto;
  font-size: 12.5px;
  float: left;
  outline: none;
  z-index: 8;
  background: white;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  border-bottom: 1px solid #e5e5e5;
}

.lilimg {
  margin-top: 1px;
}

.moreshowlil {
  width: auto;
  font-size: 12.5px;
  float: left;
  outline: none;
  z-index: 8;
  background: white;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  border-top: 4px solid #e5e5e5;
}

.moreshowli:hover {
 background: #f2f2f2;
}

.moreshowlil:hover {
  background: #f2f2f2;
}



.fullDash {
  height: auto;
}

.songBu:hover {
  border: 1px solid lightgray;
}

.realCont {
  display: flex;
  flex-direction: column;
}

.songFoot {
  height: 15px;
  justify-content: space-between;
  margin-left: 11.6vw;
}
.genreS {
  padding-right: 3%;
}

.sSong {
  color: #333;
  text-decoration: none;
  font-size: 13px;
}

.playcon {
  font-size: 15px;
  margin-right: -10%;
  cursor: pointer;
  margin-top: 10px;
}


 

.songHelp {
  padding-left: 30px;
  display:flex;
  justify-content: space-between;
}

.myStats {
  display: flex;
  align-items: center;
  position: absolute;
  width: 23vw;
}

.myFollowers {
  display: flex;
  flex-direction: column;
  color: #999;
  padding: 5px;
  padding-left: 5%;
  padding-right: 12%;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.myFollowing {
  display: flex;
  flex-direction: column;
  color: #999;
  padding: 5px;
  padding-left: 5%;
  padding-right: 12%;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.myTracks {
  display: flex;
  flex-direction: column;
  color: #999;
  padding: 5px;
  padding-left: 5%;
  padding-right: 12%;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.durationsong2 {
  background: black;
  width: auto;
  height: auto;
  padding: 1px;
  font-size: 11px;
  position: absolute;
  color: #f50;
  top: 78px;
  left: 90%;
  z-index: 12;
}

.timersong2{
  background: black;
  width: auto;
  height: auto;
  padding: 1px;
  font-size: 11px;
  position: absolute;
  color: #f50;
  top: 78px;
  left: 19.5%;
  z-index: 12;
}