.proPic {
  display: block;
  height: 200px;
  width: 200px;
  top: 60px;
  left: 10%;
  position: absolute;
  z-index: 5;
  border-radius: 100px;
}

.coverPic {
  display: block;
  width: 100%;
  height:300px;
  opacity: .9;
}

.usernameProf {
  position: absolute;
  z-index: 5;
  display: block;
  top: 60px;
  left: 27%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  height: 35px;
  color: #fff;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  background-color: rgba(0,0,0,.8);
  -webkit-box-decoration-break: clone;
}

.profileOptions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f2f2f2;
}

.profileButtons {
  border: none;
  cursor: pointer;
  outline: none;
  color: #333;
  font-size: 18px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.profileButtons:hover {
  border-bottom: 1px solid #333;
}

.profileSections {
  border: none;
  cursor: pointer;
  outline: none;
  color: #333;
}

.songImg {
  /* float: left; */
  height: 80px;
  width: 80px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

}

.songContainer {
  display: block;
  height: 200px;
  width: 80%;
  display: flex;
}

.songHelp {
  margin-top: 60px;
  padding-left: 30px;
  justify-content: space-between;
}