.deletemodal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0,0%,94.9%,.9);
  z-index: 10;
}

.deletemodal-child {
  display: block;
  background: white;
  width: 480px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  /* padding: 15px; */
}

.reallyDelete {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 12px;
  padding-left: 15px;
}

.deleteParent {
  height: 5px;
  width: 100%;
  margin-top: 35%;
  margin-bottom: 35px;
  padding: 5px;
  background: hsla(0,0%,94.9%,.9);
}

.deleteboxes {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 50px;
  margin-top: 10px;
}

.deleteOne {
  width: 35%;
  padding: 18px;
  padding-top: 0;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  font-size: 10px;
  height: 90px;
}

.deleteTwo {
  width: 35%;
  padding: 18px;
  padding-top: 0;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  font-size: 10px;
  margin-right: 10%;
  height: 90px;
}

.cancelD {
  border: none;
}

.deBut {
  float: right;
}

.learnButton {
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  background-color: #f50;
  border-color: #f50;
  border-radius: 3px;
  float: right;
  color: #fff;
  margin-top: 9.5px;
}

.songshowhidden {
  display: none;
}

.deltop {
  display: flex; 
}

.delPic{
  height: 130px;
  width: 130px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.nameshit {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 225px;
  font-size: 14px;
  margin-top: 20px;
}

.nameshit:hover {
  color: black;
}

.deleu {
  color: #cecece;
  font-size: 12px;
  top:10px;
  margin-bottom: 0;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.delett {
  color: black;
  font-size: 15px;
  margin-top: 0;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.playconD {
  font-size: 25px;
  margin-right: -13%;
  cursor: pointer;
  margin-top: 5px;
}

.playSongPageD {
  cursor: pointer;
  position: absolute;
  background-color: #f50;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 100px;
  text-align: center;
  margin-top: 30px;
  margin-left: 170px;
}