.librarypage {
  display: flex;
  flex-direction: column;
  height:100%;
  margin-left: 36px;
  margin-right: 36px;
}

.libraryheader {
  display: flex;
  margin-top: 36px;
  border-bottom: 1px solid #f2f2f2;
}

.libraryhead {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin-right: 25px;
  cursor: pointer;
}

.libraryheadclick {
  text-decoration: none;
  margin-right: 25px;
  color: #f50;
  border-bottom: 1px solid #f50;
  font-size: 24px;
  cursor: pointer;
}

.recentplayshead {
  color: #333;
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
}

.recentplayshead2 {
  color: #999;
  font-weight: 200;
  font-size: 17px;
  margin-bottom: 40px;
}

.trackslikes {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.filterlikes {
  border:  1px solid #ccc;
  border-radius: 3px;
  padding-left: 7px;
  width: 270px;
  height: 28px;
  outline: none;
  color: gray
}

.filterlikes:focus {
  border: 1px solid black;
}

.libraryrecentplays {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}

.box {
  border: 1px solid #ccc;
  height: 150px;
  width: 150px;
  margin-right: 27px;
}

.boxadjust {
  display: flex;
  flex-direction: column;
}

.boxtitle {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;

}

.boxtitle:hover {
  color:black;
}

.boxuser {
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
  font-size: 11px;
} 

.boxuser:hover {
  color: #333;
}

.boxpic {
  width: 100%;
  height: 100%;
}