.playlist-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsla(0,0%,94.9%,.9);
  z-index: 10;
}

.playlist-modal-child {
  position: absolute;
  height: auto;
  width: auto;
  min-width: 440px;
  background: white;
  top: 50%;
  left: 50%;
  padding-left: 17px;
  padding-right: 17px;
  transform: translate(-50%, -50%);
}

.playlistForm {
  display: flex;
  height: 330px;
  width: 494px;
  flex-direction: column;
}

.addtoplaylist {
  display: flex;
  height: auto;
  width: 494px;
  flex-direction: column;
}

.createplay {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 22px;
  color: #f50;
  border-bottom: 1px solid #f50;
  height: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.createplay2{
  color: #333;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  cursor: pointer;
  margin: 0;
}

.createplay2:hover {
  border-bottom: 1px solid #333;
}

.partz {
  margin-top: 15px;
}

.playlistheader {
  width: 100%;
  display: flex;
  height: 50px;
  color: #333;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #e5e5e5;
}

.playlistheader2 {
  width: 100%;
  height: 23%;
  color: #333;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #e5e5e5;
}

.playlistinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 21%;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
}

.whatsplaylist {
  margin-top: 22px;
  margin-bottom: 4px;
}

.playlistSongs {
  margin-top: 23px;
  display: block;
  border: 1px solid #f2f2f2;
  height: 33%;
}

.playlistdiv {
  border-bottom: 1px solid #f2f2f2;
  height: 25%;
}

.playlistdiv2 {
  border: 1px solid #f2f2f2;
  height: 12%;
  width: 100%;
}

.playlistdivlast {
  height: 25%;
}



.playlisttitleinput {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  padding: 2px 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 100%;
  transition: border-color .1s;
  background: #fff;
  outline: none;
}

.playlistsavebutton {
  float: right;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 50px;
  font-size: 13px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.playlistsave {
  margin-top: 16px;
  height: 28px;
}

.playsonginf {
  display: flex;
  padding-left: 5px;
  padding-top: 4px;
  font-size: 12px; 
}

.playsonginf2 {
  display: flex;
  padding-left: 5px;
  padding-top: 4px;
  font-size: 12px; 
}

.playlistuser {
  color: #999;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  padding-top: 2px;
  width: auto;
  padding-left: 6px;
}

.playcreatr {
  color: #999;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  padding-top: 0px;
  font-size: 13px;
  width: auto;
  text-decoration: none;
  cursor: pointer;
}

.playtitler {
  color: #333;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.playtitler:hover {
  color: #333;
}

.playcreatr:hover {
  color: black;
}

.playlistsongtit {
  padding-top: 2px;
  padding-left: 6px;
  width: auto;
}

.playlistComplete {
  display: flex;
  height: 228px;
  width: 455px;
  flex-direction: column;
  padding-left: 17px;
  padding-right: 17px;
}

.playlistcreated {
  width: 100%;
  height: 21%;
  padding-top: 28px;
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
}

.playcreatr {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

.playtitler{
  margin-top:0;
  padding-top: 0;
}

.playlistimgandinfo {
  display: flex;
}

.pcreateor {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.gotoplaylist {
  border: 1px solid #f2f2f2;
    text-decoration: none;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 13px;
    padding-left: 14px;
    padding-right: 14px;
    color: black;
    text-align: center;
    padding-top: 6px;
    height: 23px;
    margin-top: 7px;
}

.noplaylists {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 7%;
  width: 300px;
  height: 50%;
  align-items: center;
}

.noplaylistpic {
  width:200px;
}

.emptyplaylistpic {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(to right, rgb(97, 97, 97) , rgb(46, 45, 45));
}

.playlistpicer {
  width: 150px;
  height: 150px;
}

.playlistslice {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.playlistcontent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 15px;
  padding-top: 5px;
  width: 100%;
}

.playlistinf {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
}
.topplaylistbox {
  display: flex;
}

.playlistart {
  text-decoration: none;
  color: #999;
  font-size: 12px;
}

.playlistart:hover {
  color: grey;
}

.playSongnew {
  cursor: pointer;
  background-color: #f50;
  height: 38px;
  width: 37px;
  color: white;
  border-radius: 100px;
  text-align: center;
}
.playSongnewgone {
  cursor: pointer;
  background-color: #f50;
  height: 38px;
  width: 37px;
  color: white;
  border-radius: 100px;
  text-align: center;
  opacity: 50%;
}

.playlisttit {
  font-size: 13px;
  color: #333;
  text-decoration: none;
}

.playlisttit:hover {
  color: black;
}

.playlisttracks {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  margin-bottom: 2%;
}

.playlisttrackindivid {
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;
  color: black;
  padding-left: 1%;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
}

.playlisttname {
  padding-left: 5px;
}

.fiterplaylists {
  height: 20px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  padding-left: 7px;
  margin-top: 10px;
}

.addtoplay {
  height: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.playpicz {
  height: 100%;
  width: 45px;
  border: 1px solid black;
}
.playtitandinfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.playpicinfo {
  display:flex;
}

.playnameagain {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

.playnameagain:hover {
  color: black;
}

.addtoplaysecond {
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;;
  height: 37%;
  padding: 3px;
  padding-left: 9px;
  padding-right: 9px;
}

.addtoplaysecond:hover {
  border: 1px solid black;
}

.trackdelete {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 15px;
  padding-bottom: 10px;
}

.picandtitle {
  display: flex;
}

.playtrackpic{
  height: 28px;
  width: 28px;
  border: 1px solid black;
}

.deletetrack {
  height: 18%;
    text-align: center;
    margin-top: 5px;
    margin-left: 8px;
    padding: 4px;
    border-radius: 124px;
    background-color: #ccc;
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.xout {
  margin:0;
  padding: 0;
  margin-top: -3px;
}

.playtrackfacts {
  display:flex;
}

.trackle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-top: 5px;
  color: #333;
}

.trktit {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  font-size: 13px;
  margin-top: 5px;
}

.nosongsfound {

}