.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0,0%,94.9%,.9);
  z-index: 10;
}

.movePassword {
  position: relative;
  display: block;
  height: 200px;
}


.movePasswordDown {
  margin-top: 15px;
  position: relative;
  display: block;
  height: 200px;
}

.endTerms {
  margin-top: 18px;
  display:block;
  position: relative;
  left: -14px;
}

.startTerms {
  display:block;
  position: relative;
  left: -14px;
  /* margin-left: -10px; */
}



.divOr {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 400;
}

.modal-child {
  display: block;
  background: white;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  animation-name: modal-in;
  animation-duration: 0.7s;
  z-index: 10;
}

@keyframes modal-in {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: 50%;
    bottom: 0%;
  }
}

.splashplaylists {
  display:flex;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15px;
}

.emailEnter {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 318px;
  padding-left: 8px;
  border-radius: 4px;
  color: #333;
  border: 1px solid #ccc;
}





.email-submit {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 330px;
  background-color: #f50;
  color: white;
  margin-top: 10px;
  padding-left: 8px;
  border-radius: 4px;
  outline:none;
  border: 1px solid #f50;
}

.terms {
  display: block;
  height: 200px;
  width: 330px;
  left: 20px;
  color: #999;
  font-size: 11px;
  text-align: left;
  padding-left: 37px;
  margin-top: 40px;
}



.lineDivide1 {
  display: inline-block;
  width: 40%;
  margin-top: 27%;
  right: 5%;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  top: .5em;
}
.lineDivide2 {
  display: inline-block;
  left: 5%;
  margin-top: 27%;
  width: 40%;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  top: .5em;
}

.verifyUserContainer {
  height: 400px;
  top: 100px;
  text-align: center;
  outline: 0;
  padding-top: 50px;
}





.demoButton {
  background-color: #f50;
  font-size: 18px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 330px;
  color:white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}



.loginButton {
  display: block;
  width: 80px;
  color: white;
  background-color: Transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}

.login-form-box {
  height: 400px;
  top: 100px;
  text-align: center;
  outline: 0;
}

.signupButton {
  display: block;
  width: 120px;
  background-color: #f50;
  color:white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.login-signup {
  display: flex;
  position: absolute;
  height: 30px;
  width: 215px;
  top: 20px;
  right: 10%;
  justify-content: space-between;
}

.pianoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  border-top: 4px solid#f50;
  background: linear-gradient(70deg, rgb(143, 143, 143), rgb(138, 127, 129));
}

.mainBody {
  margin-right: 7%;
  margin-left: 7%;
  background-color:#fff;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 100px;
}

.pianoCont {
  position: relative;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color:#f2f2f2;
  
  outline: none;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.overImage {
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.friends {
  position: relative;
  display: block;
  text-align: center;
  color: white;
  width: 100%;
  height: 400px;
  padding: 0;
  margin-top: 20px;
}

.friendImg {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}

.bottomStuff {
  position: relative;
  display: block;
  height: 300px;
  width: 100%;
  margin: auto;
  padding-top: 60px;
  background-color: #fff;
}

.thanksFor {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  color: #333;
  font-size: 33px;
  text-align: center;
}

.thanksNotes {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  color: #333;
  font-size: 18px;
  text-align: center;
}


.onPic {
  color: white;
  position: absolute;
  display: block;
  text-align: left;
  width: 380px;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
} 

.neverStop {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 400px;
  background-color:#f2f2f2;
  padding-top: 60px;
}

.dontStop {
  width: 30%;
  
}
.neverHeader {
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.neverNotes {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.Apple {
  display: block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: white;
  background: black;
  width:140px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 5px;
  font-size: 12px;
  margin-right: 5px;
}

.iPhone {
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: 5px;
  left: 5%;
  z-index: 2;
}
.iPad {
  display: block;
  position: absolute;
  height: 400px;
  width: 400px;
  bottom: 5px;
  left: 20%;
  z-index: 1;
}

.Google {
  display: block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: white;
  background: black;
  width:140px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 5px;
  font-size: 12px;
}

.download {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: left;
}

.line {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-image: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
  margin-top: 15px;
}

.dontStop {
  position: absolute;
  right: 10px
}

.findOut {
  font-size: 15px;
  font-weight: 100;
  height: 50px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  display: block;
  width: 140px;
  color: white;
  background-color: Transparent;
  border-radius: 4px;
  cursor: pointer;
  border:none;
}

.yachtyImg {
  position: absolute;
  display:block;
  height: 70%;
  width: 35%;
  top: 0px;
  left: 0px;
  border: 1px solid #141414;
  opacity: .75;
  /* box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); */
}

.showsearch2 {
  display: flex;
  flex-direction: column;
  /* left: -9px; */
  position: absolute;
    /* width: 85.5%; */
  width: 95%;
  height: auto;
  margin-top: 33px;
  background-color: black;
  color: #ccc;
  font-size: 13px;
  z-index: 20;
  cursor: pointer;
}


.headerSearch {
  display: flex;
  height: 100%;
  width: 50vw;
  position: relative;
}
.header {
  display: block;
  text-align: center;
}

.text {
  color: white;
  text-align: center;
}

.switch {
  border-radius: 4px;
}

.or {
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.subtext {
  display: block;
  height: 30px;
  width: 330px;
  left: 20px;
  color: #999;
  font-size: 11px;
  text-align: left;
  padding-left: 37px;
  margin-top: 10px;
}

.session-submit {
  height: 30px;
  width: 60px;
  background-color: #f50;
  border-radius: 4px;
  border: none;
}

.accept {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 330px;
  background-color: #f50;
  color: white;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid #f50;
}



/* .search-submit {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
} */

.searchBar {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  border-radius: 4px 0px 0px 4px;
  padding-left: 10px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  /* padding: 2px 7px; */
}

.buttonColor {
  background-color: #f2f2f2;
  height: 100%;
  cursor: pointer;
  outline: none;
  border: none;
}

.buttonBackS {
  height: 100%;
  width: 6%;
  border:none;
  padding-right: 2px;
  background-color: #f2f2f2;
  border-radius: 0px 4px 4px 0px;
}

.searchButton {
  background-color: #f2f2f2;
  font-size: 15px;
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  padding: 2px 7px;
  background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg)0 0 no-repeat;
  background-size: 17px 17px;
  background-position: 50% 50%;
}


.upload {
  display: block;
  width: 160px;
  background-color: #f50;
  color:white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.search-submit {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 700px;
  height: 38px;
  justify-content: space-between;
}

.subHead {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 30px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.exploreTrending {
  margin: auto;
  display: block;
  width: 220px;
  background-color: #f50;
  border: 1px solid #f50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  height: 46px;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  text-align: center;
  height: 46px;
}

.login-form-container {
    height: 400px;
    top: 100px;
    text-align: center;
    outline: 0;
    padding-top: 5px;
}

.red {
  color: red;
}

.startPos {
  position: absolute;
  display: block;
  height: 250px;
  padding-left: 17px;
}

.endPos {
  margin-top: 4px;
  position: absolute;
  display: block;
  height: 250px;
  padding-left: 17px;
}

.usernameLabel {
  position:absolute;
  font-size: 12px;
  align-items: left;
  padding-left: 24px;
  margin: none;
  top: -4%;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 500;
}

.emailError {
  display: none;
  position: absolute;
}

.takenUser {
  position: absolute;
  top: 54px;
  left: 39px;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #cf0000;
}

.takenUserNo {
  display: none;
}
.validUser {
  position: absolute;
  top: 54px;
  left: 41px;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #cf0000;
}

.passwordShow {
  position: absolute;
  top: 53px;
  left: 24px;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #cf0000;
}

.emailErrorShow {
  position: absolute;
  top: 180px;
  left: 41px;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #cf0000;
}

.passwordLabel {
  position:absolute;
  font-size: 12px;
  align-items: left;
  padding-left: 24px;
  margin: none;
  top: -9px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 500;
}

.usernameEnter {
  margin-top: 20px;
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  top: 5%;
  width: 318px;
  padding-left: 8px;
  border-radius: 4px;
  color: #333;
  border: 1px solid #ccc;
}
.usernameEnterError {
  margin-top: 20px;
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  top: 5%;
  width: 318px;
  padding-left: 8px;
  border-radius: 4px;
  color: #333;
  border: 1px solid red;
}

.passwordEnter {
  margin-top: 20px;
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 318px;
  padding-left: 8px;
  border-radius: 4px;
  color: #333;
  border: 1px solid #ccc;
}

.passwordEnterError {
  margin-top: 20px;
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 318px;
  padding-left: 8px;
  border-radius: 5px;
  color: #333;
  border: 1px solid red;
}

.loginInput {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 318px;
  padding-left: 8px;
  border-radius: 5px;
  color: #333;
  border: 1px solid #ccc;
  margin-top: 7px;
  margin-bottom: 0;
}


.invalidCreds {
  position: absolute;
  top: 153px;
  left: 38px;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #cf0000;
}


.errorLogin {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 318px;
  padding-left: 8px;
  border-radius: 5px;
  color: #333;
  border: 1px solid red;
  margin-top: 7px;
  margin-bottom: 10px;
}

.createAccount {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: bold;
  padding-left: 55px;
  width: 300px;
  color: #333;
}

.signUp {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 330px;
  background-color: #f50;
  color: white;
  margin-top: 10px;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid #f50;
}

.LogInCurrent {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 330px;
  background-color: #f50;
  color: white;
  margin-top: 10px;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid #f50;
}

.LogInDown {
  font-size: 16px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  height: 40px;
  width: 330px;
  background-color: #f50;
  color: white;
  margin-top: 25px;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid #f50;
}

.signupButtontwo {
  display: block;
  width: 180px;
  height: 45px;
  background-color: #f50;
  font-weight: normal;
  color:white;
  border-radius: 4px;
  border: none;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  margin: auto;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.lastSignIn {
  display: flex;
  width: 200px;
  height: 35px;
  margin: auto;
  padding-top: 13px;
  justify-content: space-between;
}

.alreadyHave {
  font-size: 9px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.loginButtonTwo {
  display: block;
  width: 80px;
  color: black;
  font-size: 13px;
  background-color: Transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
.loginButtonTwo:hover {
  border: 1px solid lightgray;
}


.footerLine {
  padding-bottom: 3px;
  color: #ccc;
  border-top: 1px solid #f2f2f2;
  display: block;
  width: 100%;
  margin: auto;
  bottom: 0;
  background: white;
}

.Linkedin {
  margin-left: 12%;
  margin-bottom: -10px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
}

.Github {
  margin-left: 1%;
  margin-bottom: -10px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
}