.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0,0%,94.9%,.9);
  z-index: 10;
}

.modal-child {
  display: block;
  background: white;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.loginButton {
  display: block;
  width: 80px;
  color: white;
  background-color: Transparent;
  border-radius: 5px;
  cursor: pointer;
}


.login-form-box {
  top: 100px;
  text-align: center;
}

.signupButton {
  display: block;
  width: 120px;
  background-color: #f50;
  color:white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login-signup {
  display: flex;
  position: absolute;
  height: 30px;
  width: 215px;
  top: 20px;
  right: 10px;
  justify-content: space-between;
}

.pianoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  border-top: 10px solid#f50;
}

.pianoCont {
  position: relative;
}

body {
  margin-top: 0px;
  margin-right: 3px;
  margin-left: 3px;
}

.overImage {
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.headerSearch {
  display: flex;
  height: 100%
}
.header {
  display: block;
  text-align: center;
}

.text {
  color: white;
  text-align: center;
}

.switch {
  border-radius: 5px;
}

.or {
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
}

.subtext {
  display: block;
  color: lightgray;
  font-size: 10px;
}

.session-submit {
  height: 30px;
  width: 60px;
  background-color: #f50;
  border-radius: 5px;
  border: none;
}


/* .search-submit {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
} */

.searchBar {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  border-radius: 5px 0px 0px 5px;
  padding-left: 5px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  /* padding: 2px 7px; */
}

.searchButton {
  background-color: #f2f2f2;
  font-size: 19px;
  height: 100%;
  border: 0;
  outline: 0;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  padding: 2px 7px;
  background-size: 19px 19px;
}


.upload {
  display: block;
  width: 120px;
  background-color: #f50;
  color:white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-submit {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 700px;
  height: 46px;
  justify-content: space-between;
}

.subHead {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 30px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.exploreTrending {
  margin: auto;
  display: block;
  width: 220px;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: 46px;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  text-align: center;
  height: 46px;
}
