.hiddenfornow {
  display: none;
}

.showme {
  display: flex;
  height: 40px;
  position: absolute;
  top: 10%;
  width: 19%;
  margin: 0;
  z-index: 10;
  background: white;
  right: 10%;
  border-radius: 4px;;
  font: 18px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border: 1px solid #f2f2f2;
    border-top-color: rgb(242, 242, 242);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(242, 242, 242);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(242, 242, 242);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
}

#selectedFile {
  display: none;
  color: transparent;
  background: transparent;
  width: 100px;
  height: 200px;
}

.uploadSong {
  height: 100vh;
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
  display: block;
  position: relative;
  width: 700px;
  height: 387px;
  margin: auto;
  top: 50px;
  border: 1px solid #f2f2f2;
  border-top-color: rgb(242, 242, 242);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(242, 242, 242);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(242, 242, 242);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(242, 242, 242);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}



.drag {
  font: 18px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
  margin-top: 170px;
  text-align: center;
}


.UploadButton {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 300px;
  height: 38px;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  border-radius: 3px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  border: none;
}

.subNotes {
  text-align: center;
  margin-top: 95px;
  font: 11px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
}
.blue {
  color: #38d;
  font: 11px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
.blueE {
  color: #38d;
}

.blue:hover {
  cursor: pointer;
  color: #333;
}

.uploadingForm {
  height: 100vh;
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
  display: block;
  position: relative;
  width: 700px;
  height: 600px;
  margin: auto;
  top: 50px;
  border: 1px solid #f2f2f2;
  border-top-color: rgb(242, 242, 242);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(242, 242, 242);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(242, 242, 242);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(242, 242, 242);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.uploadContent {
  margin-right: 3%;
  margin-left: 3%;
}

.uploadOptions {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  width: 100%;
  color: #f50;
  font-size: 12px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.Metadata {
  width: 19%;
  font-weight: 100;
  color: #333;
  cursor: pointer;
}

.Metadata:hover {
  border-bottom: black;
}

.Permissions {
  font-weight: 100;
  color: #333;
  width: 18%;
}

.Permissions:hover {
  border-bottom: black;
}

.uploadingMarg {
  margin-left: 3%;
  margin-right: 3%;
}

.titleTitle {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 4px;
}

.noshowCustom {
  display: none;
}



.basicInfo {
  width: 19%;
  color: #f50;
  font-weight: 100;
  cursor: pointer;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.GenreSection {
  height: 25px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* .descriptionLabel {

} */

.choosePic {
  height: 100%;
  width: 100%;
}

.noshowTitleError {
  display: none;
}

.showTitleError {
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #cf0000;
  padding: 0;
  margin: 0;
}

.descriptionArea {
  width: 100%;
  height: 130px;
  max-height: 200px;
  min-height: 27px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  padding: 2px 7px;
  resize: vertical;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color .1s;
  color: #333;
}

.DescriptionUpload {
  width: 90%;
  height: 80px;
  margin-top: 25px;
  font-size: 12px;
}

.genreLabel {
  font-size: 10px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}


.genreInput {
  width: 45%;
  height: 100%;
}

.cloneInput{
  color: #333;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 40%;
  height: 100%;
  margin-top: -2px;
  margin-left: 2%;
  padding-left: 5px;
  outline: none;
}

.samePerma {
  float: right;
  font: 10px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #cf0000;
  width: 20vw;
  margin-left: 55%;
  margin-top: 3px;
  margin-bottom: 0px;
}

.nosamePerma {
  display: none;
}

.hyperErrorshow{
  color: #333;
  border-radius: 4px;
  border: 1px solid #cf0000;
  width: 40%;
  height: 100%;
  margin-top: -2px;
  margin-left: 2%;
  padding-left: 5px;
  outline: none;
}

.hyperlink {
  display: flex;
  height: 15px;
  width: 90%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.clonelink {
  color: #999;
  height: 100%;
  margin: 0;
  width: 40%;
  padding: 0;
  font-size: 11px;
}

.showCustom{
  height: 80%;
  width: 45%;
  color: #333;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color .1s;
  padding-left: 4px;
}

.basicInfo:hover {
  text-decoration: underline;
}

.almostthere {
  float:right;
  margin-top: 15px;
  width: 60%;
  height: 500px;
}

.titleSection {
  width: 90%;
}


.titleInput {
  font: 11px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
  width: 100%;
  border-radius: 4px;
  height: 18px;
  outline: none;
  border: 1px solid #ccc;
  transition: border-color .1s;
  padding-left: 5px;
  padding-bottom: 2px;
}

.titleInputred {
  font: 11px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
  width: 100%;
  border-radius: 4px;
  height: 18px;
  outline: none;
  border: 1px solid #cf0000;
  transition: border-color .1s;
  padding-left: 5px;
  padding-bottom: 2px;
}

.errorMessage {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 10px;
  height: 100%;
  width: 75%;
  margin: 0;
  margin-top: 6px;
  padding-left: 5px;
  -webkit-font-smoothing: antialiased;

}

.errorBord {
  border-right: .5px dashed white;
  border-left: .5px dashed white;
  width: 70%;
  height: 100%;
  margin: auto;
  /* margin-top: 5px; */
  padding-top: 6px;
  color: white;
}

.errorpic {
  display:block;
  height: 100%;
  border-radius: 4px 0 0 4px;;
  width: 15%;
  text-align: center;
  font-weight: bold;
  background: #ff4d00 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAB4CAMAAACtkqAmAAAAYFBMV…McYXXlvnHcGbg5bgBeMu2ejBfHFVXXLnPzcOHChQsX7pveYwMMTlNRecEAAAAASUVORK5CYII=) 50% no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAB4CAMAAACtkqAmAAAAYFBMV…McYXXlvnHcGbg5bgBeMu2ejBfHFVXXLnPzcOHChQsX7pveYwMMTlNRecEAAAAASUVORK5CYII=),linear-gradient(#f60,#ff4d00 40%,#f30);
}


.songImg {
  float: left;
  display:block;
  height: 100px;
  width: 90px;
  margin-top: 5%;
  margin-left: 5%;
  border: 1px solid #f2f2f2
}

.footStuff {
  position: absolute;
  display: flex;
  height: 20px;
  width: 100%;
  display: flex;
  border-top: 1px solid #f2f2f2;
  justify-content: space-between;
  margin: 0;
  padding-right: 10px;
  width: 690px;
  align-content: center;
  bottom: 30px;
}

.footStuffU {
  display: flex;
  height: 20px;
  width: 100%;
  display: flex;
  border-top: 1px solid #f2f2f2;
  justify-content: space-between;
  margin: auto;
  padding-right: 10px;
  width: 690px;
  align-content: center;
  bottom: 30px;
}

.saveUploadUp {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  position: relative;
  border-radius: 3px;
  z-index: 10;
  cursor: pointer;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
}


.uploadButtons {
  padding-right: 20px;
  padding-top: 13px;
}

.requireField {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  padding-left: 20px;
  font-size: 11px;
  padding-top: 8px
}

.orange {
  color: #f50;
}